nav { background-color: grey;
    width: 100%;
    height: 80px;
    position: center; 
} 
nav a{
    color:white;
    text-decoration: none;
}
h1{
    position:center;
    text-align: center;
    color:orange;
}
#container { height: auto;
             background-color: gainsboro;
             width:auto;
}
body{
    background-color: orange;
}
#gengar{ background-image: url(gengar.jpg);
         height:200px;
         width:200px;
         background-repeat: no-repeat;
         background-size: 100% 100%;
         display: inline-block;
}
#gyrados{ background-image: url(gyarados.jpg);
    height:200px;
         width:200px;
         background-repeat: no-repeat;
         background-size: 100% 100%;
         display: inline-block;
         
}
#breloom{ background-image: url(breloom.jpg);
    height:200px;
         width:200px;
         background-repeat: no-repeat;
         background-size: 100% 100%;
         display: inline-block;
}
#torterra{ background-image: url(torterra.jpg);
    height:200px;
    width:200px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
}
footer{ width: 100%;
    height: 80px;
    background-color: orange;
    border-top: 2px;
    border-color: black;
    text-align: center;
}  